{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Miss Luxe</title>
    <meta name="description" content="Eyebrow, lash and makeup studio">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Brow, <span>Lash &amp;</span><span>Makeup</span><span>Studio</span></h1>
      </div>
    </section>

    <section id="intro">
      <div>

      </div>
    </section>

    <section id="gallery">
      <div>

    </section>

    <section id="services">
      <div>

      </div>
      <div class="stockists">

      </div>
    </section>

    <section class="banner">
      <div>

      </div>
    </section>

    <section class="contact">
      <div>

      </div>
    </section>

  {{/replace}}
{{/extend}}
