<!DOCTYPE HTML>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright 2018 all rights reserved by Hannah Sutton Design">
    <meta name="developer" content="Richard Verheyen richard.verheyen@gmail.com">
    <meta name="robots" content="index, follow">

    <meta name="google-site-verification" content="lZD8Pa_Me8epqXpYFLBunfhCMuWaA02nhzvzRpRvlRc" />

    <meta property="og:url" content="https://www.missluxe.com.au" />
    <meta property="og:title" content="Miss Luxe" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Brow, lash and Makeup studio located in Bribane, Australia" />
    <meta property="og:image" content="https://www.missluxe.com.au/assets/img/miss-luxe-studio.JPG" />
    <meta property="og:image" content="https://www.missluxe.com.au/assets/img/miss-luxe-signage.JPG" />

    <title>Miss Luxe - Brow, lash and makeup studio</title>
    <meta name="description" content="Brow, lash and makeup studio in Brisbane, Australia">

    <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i" rel="stylesheet">

    <script src="/assets/js/outdated-browser.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/instafeed.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var feed = new Instafeed({
        get: 'user',
        userId: '796516986',
        accessToken: '796516986.1677ed0.e81c9d457baa45da80dc2b520f211f4a',
        limit: 4,
        resolution: 'standard_resolution'
      });
      feed.run();
    </script>

    <link rel="icon" type="image/png" href="/assets/img/favicons/favicon.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/img/favicons/favicon.png" sizes="16x16" />

  </head>

  <body id="{{#block "body-id"}}{{/block}}" class="{{#block "body-class"}}{{/block}}">

    {{> header}}
    <main>
      {{#block "main"}}{{/block}}
    </main>
    {{> footer}}

    <script src="/assets/js/outdated-browser.js" type="text/javascript"></script>

  </body>

</html>
