{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Miss Luxe</title>
    <meta name="description" content="Eyebrow, lash and makeup studio">
  {{/replace}}

  {{#replace "body-id"}}our-team{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Our <br>team</h1>
      </div>
    </section>

    <section id="profiles">
      <div>
        <div>
          <div>
            <h2>Fairlie<span>Exintaris</span></h2>
            <h5> The founder of Miss Luxe, Fairlie has spent many years perfecting the art of brows and has extensive experience in bridal, editorial and commercial makeup. Fairlie also specialises in feather touch brows, her style being a soft, natural and
              well balanced semi-permanent brow. Regularly attending master classes, work shops and seminars She is constantly building on her skills to remain ahead in her field and counts many well known Australian and internationally recognised faces
              among her loyal followers.</h5>
          </div>
          <img src="/assets/img/our-team/team-member-fairlie.JPG" alt="" />
        </div>

        <div>
          <img src="/assets/img/our-team/team-member-sascha.JPG" alt="" />
          <div>
            <h2>Sascha</h2>
            <h5>Sascha has joined the team at Miss Luxe after moving from Townsville where she was the head brow artist at Townsville’s only specialist brow and makeup studio. With many years of experience, Sascha has ensured she remains ahead of trends and techniques by attending masterclasses run by a range of well-known makeup artists and brow artists. Sascha specialises in brow rehabilitation and reshaping, creating well proportioned, defined yet natural brows. Her precision makes her an exemplary brow, lash and makeup artist.</h5>
          </div>
        </div>
      </div>
    </section>

    <section class="banner">
      <div>
        <div>
          <h2>Ready to feel<span>beautiful?</span></h2>
          <a class="button2" href="https://www.kitomba.com/bookings/missluxe">Book online</a>
          <a class="button2" href="tel:0419307772">Call us</a>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
