{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Miss Luxe</title>
    <meta name="description" content="Eyebrow, lash and makeup studio">
  {{/replace}}

  {{#replace "body-id"}}our-team{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Our <br>team</h1>
      </div>
    </section>

    <section id="profiles">
      <div>
        <div>
          <div>
            <h2>Fairlie<span>Exintaris</span></h2>
            <h5> The founder of Miss Luxe, Fairlie has spent many years perfecting the art of brows and has extensive experience in bridal, editorial and commercial makeup. Fairlie also specialises in feather touch brows, her style being a soft, natural and
              well balanced semi-permanent brow. Regularly attending master classes, work shops and seminars She is constantly building on her skills to remain ahead in her field and counts many well known Australian and internationally recognised faces
              among her loyal followers.</h5>
          </div>
          <img src="/assets/img/our-team/team-member-fairlie.jpg" alt="" />
        </div>

        <div>
          <img src="/assets/img/our-team/team-member-gabby.jpg" alt="" />
          <div>
            <h2>Gabby</h2>
            <h5>Gabby has moved to Australia from the U.S. where she built up her skills as a makeup artist by attending classes with celebrity makeup artists including Mario Dedivanovic, (best known for his work with Kim Kardashian), assisting a well known makeup
              artist in New York City and working as an assistant on Project Runway. Gabby's appreciation and understanding of amazing brows has lead her to train under Fairlie at Miss Luxe perfecting her brow and lash styling skills. Gabby is the master
              of beautiful, full brows.</h5>
          </div>
        </div>
      </div>
    </section>

    <section class="banner">
      <div>
        <div>
          <h2>Ready to feel<span>beautiful?</span></h2>
          <a class="button2" href="https://www.kitomba.com/bookings/missluxe">Book online</a>
          <a class="button2" href="tel:0419307772">Call us</a>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
