{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Miss Luxe</title>
    <meta name="description" content="Eyebrow, lash and makeup studio">
  {{/replace}}

  {{#replace "body-id"}}our-team{{/replace}}

  {{#replace "main"}}

    <section id="hero2">
      <div>
        <h1>Our team</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
