<header>
  <div>
    <a class="logo-image" href="/"><img src="/assets/img/logo/missluxe-logo.svg" alt="" /></a>
    <div id="trigger">
      <img src="/assets/img/icons/dropdown-menu-icon-grey.svg" alt="" />
      <img src="/assets/img/icons/dropdown-menu-icon-pink.svg" alt="" />
    </div>
  </div>
  <ul>
    <li><a href="https://www.kitomba.com/bookings/missluxe" target="_blank">Book Online</a></li>
    <li><a href="/#services">Services &amp; Pricing</a></li>
    <li><a href="/foundation-bar">Foundation Bar</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/#contact">Contact</a></li>
    <li><a href="https://www.kitomba.com/bookings/missluxe#voucher">Gift Voucher</a></li>

    <li class="social-media-button">
      <a href="https://www.facebook.com/missluxebris" target="_blank"><img src="/assets/img/icons/facebook-grey.svg" alt="" /></a>
      <a href="https://www.facebook.com/missluxebris" target="_blank"><img src="/assets/img/icons/facebook-pink.svg" alt="" /></a>
    </li>
    <li class="social-media-button">
      <a href="https://www.instagram.com/missluxe_brows/" target="_blank"><img src="/assets/img/icons/instagram-grey.svg" alt="" /></a>
      <a href="https://www.instagram.com/missluxe_brows/" target="_blank"><img src="/assets/img/icons/instagram-pink.svg" alt="" /></a>
    </li>
  </ul>
</header>
