body {
  margin: 0;
}
header,
section {
  display: flex;
  justify-content: center;
  > div {
    max-width: 1080px;
    min-width: 320px;
    padding: 0 20px;
  }
}
button {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px $fairlie-pink solid;
  padding: 20px 90px;
  margin: 30px auto;
  background: white;
  color: $fairlie-pink;
  font-size: 20px;
  font-style: italic;
  width: 340px;
  &:hover {
    background: $fairlie-pink;
    color: white;
  }
}
.button2 {
  display: block;
  background: $fairlie-pink;
  color: black;
  &:hover {
    opacity: 0.9;
  }
}
.social-media-button {
  a:nth-last-child(1) {
    display: none;
  }
  &:hover {
    a:nth-last-child(1) {
      display: block;
    }
    a:nth-last-child(2) {
      display: none;
    }
  }
}
.banner {
  background: url('/assets/img/landing/home-banner-ready-to-feel-beautiful.jpg');
  background-position-y: 30%;
  background-size: 100%;
  height: 50vh;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto 0 auto 42%;
    div {
      display: flex;
      flex-direction: column;
      h2 {
        line-height: 125%;
        text-align: center;
        color: white;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 30px 2px;
        margin: 15px;
        span {
          display: block;
        }
      }
    }
  }
}
