#gallery {
  .banner {
    background: url('/assets/img/gallery/gallery-banner-ready-to-feel-beautiful@2x.jpg');
    background-size: cover;

    div {
      div {
        margin: 20px 0;
      }
    }
  }
}
