header {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      width: 300px;
      height: auto;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      li {
        padding: 13px;
        list-style: none;
        text-transform: uppercase;
        img {
          width: auto;
          height: 25px;
        }
        a,
        a:link,
        a:visited {
          text-decoration: none;
          color: black;
        }
        a {
          &:hover {
            color: $fairlie-grey;
          }
        }
      }
    }
  }
}
