#landing {
  #hero {
    background: url('/assets/img/landing/home-banner@2x.jpg');
    background-position: 27%;
    background-size: cover;
  }

  #intro {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 40px 0;
      @media (max-width: 600px) {
        margin-top: 20px;
      }

      div {
        display: flex;
        flex-direction: row;
        h3 {
          font-family: 'Old Standard TT', serif;
          text-align: left;
          max-width: 900px;
          margin: 40px 0 10px;
          font-size: 36px;
          letter-spacing: -1px;

          span {
            font-size: 28px;
            display: block;
            padding-top: 12px;
          }
          @media(max-width: 900px) {
            max-width: 525px;
            font-size: 4vw;
            span {
              font-size: 20px;
            }
          }
          @media (max-width: 600px) {
            text-align: center;
            font-size: 22px;
          }
        }
        img {
          width: 32vw;
          height: 32vw;
          max-width: 300px;
          max-height: 300px;
          margin: 40px 40px 10px 20px;
          @media (max-width: 600px) {
            width: 280px;
            height: 280px;
            margin: 10px;
          }
        }
        @media (max-width: 600px) {
          flex-direction: column;
        }
      }
    }
  }

  #instagram-gallery {
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 40px 0;

      h2 {
        position: relative;
        margin: 20px auto;
        font-size: 8vw;
        @media (min-width:700px) {
          font-size: 58px;
        }
        &:after {
          content: ' ';
          position: absolute;
          left: 50%;
          top: 80px;
          width: 300px;
          max-width: 1260px;
          height: 1px;
          background: black;
          margin: 1px 0 1px -150px;
        }
      }

      > div {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 60px 0 10px;

        a {
          width: 23vw;
          height: 23vw;
          max-width: 250px;
          max-height: 250px;
          margin: 1vw;

          img {
            height: 100%;
            width: 100%;
          }
          &:hover {
            opacity: 0.7;
          }
          &:nth-last-child(1) {
            display: none;
          }
          @media(max-width: 500px) {
            width: 35vw;
            height: 35vw;
            max-width: 350px;
            max-height: 350px;

            img {
              width: 35vw;
              height: 35vw;
              max-width: 350px;
              max-height: 350px;
            }
            &:nth-last-child(1) {
              display: block;
            }
          }
        }
      }
    }
  }

  #services {
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      position: relative;
      margin: 20px auto;
      font-size: 8vw;
      @media (min-width:700px) {
        font-size: 58px;
      }
      &:after {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 80px;
        width: 300px;
        max-width: 1260px;
        height: 1px;
        background: black;
        margin: 1px 0 1px -150px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 60px;

      > div {
        flex-direction: row;
        align-items: flex-start;

        > div {
          flex-direction: column;
          justify-content: flex-start;
          width: 30%;
          padding: 2%;
          margin: 0;

          h4,
          h5 {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          span {
            display: flex;
            align-items: center;
            text-transform: none;
            margin-left: auto;

            p {
              padding: 3px 5px 0 0;
              margin: 0;
            }
          }

          > p {
            margin: 5px 0 18px;
            @media (max-width: 900px) {
              margin-left: auto;
              text-align: right;
            }
          }

          div {
            width: 100%;
            padding: 0;
            margin-top: 10px;
            border-top: 1px black solid;
            @media(max-width: 900px) {
              border-top: none;
            }
          }
        }
      }
      @media (max-width: 900px) {
        margin-top: 30px;

        div {
          flex-direction: column;
          align-items: center;

          div {
            width: 100%;
            max-width: 500px;
            margin: 0;
          }
        }
      }
    }
  }

  #stockists {
    display: flex;
    justify-content: center;

    > div {
      position: relative;

      h4 {
        text-align: center;
        margin: 40px 0 20px;
        @media (max-width: 900px) {
          margin: 40px 0 20px;
        }
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        img {
          padding: 26px 20px;
          width: 25%;
          height: auto;
          @media (max-width: 500px) {
            padding: 10px 5px;
          }
        }
      }
    }
  }

  .banner {
    background: url('/assets/img/landing/home-banner-ready-to-feel-beautiful@2x.jpg');
    background-size: cover;
  }

  #contact {
    display: flex;

    > div {
      display: flex;
      flex-direction: row;
      width: 100%;

      > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 50%;
        margin: 100px 20px 50px;

        h2 {
          border-bottom: black solid 1px;
          padding: 0 5px 50px;
          @media (max-width: 900px) {
            font-size: 7vw;
            padding-bottom: 35px;
            margin: 10px 0;
          }
        }

        p {
          font-size: 22px;
          margin: 5px auto;
          @media (max-width: 900px) {
            font-size: 14px;
          }
        }

        button {
          margin: 14px auto;
        }

        div {
          display: flex;
          flex-direction: row;
          justify-content: center;

          img {
            height: 25px;
            width: auto;
            margin: 20px;
          }
        }
      }
      @media (max-width: 700px) {
        flex-direction: column-reverse;
        align-items: center;
        margin: 30px 0;

        > div {
          width: 80%;
          margin: 0;
        }
      }
    }
  }

  .map {
    position: relative;

    a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 700px) {
      width: 85vw;
      height: 85vw;
    }
  }
}
