#landing {
  #hero {
    background: url('/assets/img/landing/home-banner.jpg');
    @include retina("/assets/img/landing/home-banner@2x.jpg",55%);
  }
  #intro {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        width: 100%;
        div,
        img {
          background: $fairlie-pink;
          width: 45vw;
          height: 27vw;
          align-items: center;
          margin: 3vw 1vw;
          h2 {
            text-align: center;
            font-size: 7vw;
            border-top: 1px solid;
            border-bottom: 1px solid;
            padding: 6% 5%;
            span {
              display: block;
              font-size: 6vw;
            }
            @media (min-width: 900px) {
              font-size: 65px;
              span {
                font-size: 60px;
              }
            }
          }
        }
        // @media (max-width: 800px) {
        //   h2 {
        //     font-size:
        //   }
        // }
        @media (max-width: 500px) {
          flex-direction: column;
          align-items: center;
          margin: 10px 0;
          div {
            display: none;
          }
          > img {
            margin: 20px 10px;
            width: 66vw;
            height: 39vw;
          }
        }
      }
      h3 {
        text-align: center;
        max-width: 750px;
        margin: 0 20px 40px;
        span {
          display: block;
        }
        @media(max-width: 800px) {
          max-width: 525px;
          font-size: 16px;
        }
      }
    }
  }
  #services {
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2 {
      position: relative;
      margin: 20px auto;
      font-size: 8vw;
      @media (min-width:700px) {
        font-size: 58px;
      }
      &:after {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 80px;
        width: 50vw;
        height: 1px;
        background: black;
        margin: 1px 0 1px -25vw;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 30px 0;
      > div {
        flex-direction: row;
        > div {
          flex-direction: column;
          justify-content: flex-start;
          width: 30%;
          padding: 2%;
          h4,
          h5 {
            display: flex;
            justify-content: space-between;
            width: 100%;
            span {
              display: inline-block;
            }
          }
          > p {
            margin: 5px 0 18px;
            @media (max-width: 900px) {
              margin-left: auto;
              text-align: right;
            }
          }
          div {
            width: 100%;
            padding: 0;
            margin-top: 10px;
            border-top: 1px black solid;
          }
        }
      }
      @media (max-width: 900px) {
        div {
          flex-direction: column;
          align-items: center;
          div {
            width: 80%;
            max-width: 500px;
            margin: 0;
          }
        }
      }
    }
  }
  #stockists {
    display: flex;
    justify-content: center;
    > div {
      position: relative;
      &:before {
        content: ' ';
        position: absolute;
        left: 50%;
        width: 80vw;
        height: 1px;
        background: black;
        margin: 1px 0 1px -40vw;
      }
      h4 {
        text-align: center;
        margin: 80px 0 40px;
        @media (max-width: 900px) {
          margin: 40px 0 20px;
        }
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        img {
          padding: 26px 20px;
          width: 25%;
          height: auto;
          @media (max-width: 500px) {
            padding: 10px 5px;
          }
        }
      }
    }
  }
  .banner {
    background: url('/assets/img/landing/home-banner-ready-to-feel-beautiful.jpg');
    @include retina("/assets/img/landing/home-banner-ready-to-feel-beautiful@2x.jpg",0);
  }
  #contact {
    display: flex;
    > div {
      display: flex;
      flex-direction: row;
      width: 100%;
      > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 50%;
        margin: 100px 20px 50px;
        h2 {
          border-bottom: black solid 1px;
          padding: 0 5px 50px;
          @media (max-width: 900px) {
            font-size: 7vw;
            padding-bottom: 35px;
            margin: 10px 0;
          }
        }
        p {
          font-size: 22px;
          margin: 5px auto;
          @media (max-width: 900px) {
            font-size: 14px;
          }
        }
        button {
          margin: 14px auto;
        }
        div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          img {
            height: 25px;
            width: auto;
            margin: 20px;
          }
        }
      }
      @media (max-width: 700px) {
        flex-direction: column-reverse;
        align-items: center;
        margin: 30px 0;
        > div {
          width: 80%;
          margin: 0;
        }
      }
    }
  }
  .map {
    position: relative;
    a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
