#hero2 {
  background: url('/assets/img/our-team/team-banner.jpg');
  background-position: 55%;
  height: 75vh;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
      color: white;
      margin: auto 0 auto 55%;
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding: 15px 2px;
      span {
        display: block;
      }
    }
  }
}
