{{#extend "layout"}}

  {{#replace "body-id"}}foundation-bar{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1><span>The</span> Foundation Bar</h1>
        <img src="/assets/img/foundation-bar/logo-melli-cosmetics@2x.png" alt="Melli Cosmetics Logo">
      </div>
    </section>

    <section id="product-intro" class="product">
      <div>
        <div class="left">
          <h2>Meet your<span>perfect match</span></h2>
          <p>If you haven’t yet met your perfect match, The Foundation Bar is here to sweep you off your feet and carry you away into the sunset.</p>
          <p>We are all different, that’s what makes us beautiful but also makes it near impossible to find that exact shade of foundation to suit your skin type, colour and undertones. We don’t fit into the 10 or so colours on offer by a brand and if we do find the perfect colour, the formula may not be what we’re after.</p>
          <p>Meet Melli Custom Blend Foundation. It’s your skin in a bottle (a refillable bottle… you’re a planet saving hero).</p>
        </div>
        <img src="/assets/img/foundation-bar/foundation@2x.JPG" alt="Melli Foundation Bar Product" />
      </div>
    </section>

    <section class="banner">
      <div>
        <div>
          <h2>Customised</h2>
          <h3>
            <span>Colour match</span>
            <span>/Coverage</span>
            <span>/Texture</span>
          </h3>
          <h3>All to your skin type</h3>
        </div>
      </div>
    </section>

    <section id="service-description" class="product">
      <div>
        <div class="left">
          <p>Not only can we custom blend your perfect colour (no more unwanted yellow, pink or ashiness) but you can customise your finish (dewy, satin, matte and anywhere in-between), amount of coverage (sheer through to full), moisture, luminosity and so much more.</p>
          <h5>The liquid mineral formula is TALC, FRAGRANCE, PARABENS, GLUTEN and CRUELTY FREE which means your skin will love it and so will your conscience.</h5>
          <p>The Foundation Bar Team here at Miss Luxe can whip up a blend to perfectly suit you, even if you don’t quite know what you’re after. We can help you correct redness, imperfections and dull looking skin and package all of this with love in a 40ml airless pump bottle. Your very own, one of a kind recipe is kept on file for when you run out, all you have to do is drop your bottle in to Miss Luxe for a refill.</p>
        </div>
        <img src="/assets/img/foundation-bar/foundation-face@2x.JPG" alt="">
      </div>
    </section>

    <section class="banner banner-2">
      <div>
        <div>
          <h2>What are you<span>waiting for?</span></h2>
          <h3>Book your <br/> Melli Custom Blend Foundation <br/> consultation now!</h3>
          <a class="button2" href="https://www.kitomba.com/bookings/missluxe">Book now</a>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
