{{#extend "layout"}}

  {{#replace "body-id"}}FAQ{{/replace}}

  {{#replace "main"}}

    <section id="faq">
      <div>
        <h2 class="center">Frequently asked questions</h2>
        <p class="center"><b>Welcome to Miss Luxe, we are so excited you have chosen us to take care of your brows, lashes and makeup. We want to take this opportunity to let you know a bit about us to make your first visit a seamless and enjoyable one.</b></p>

        <h3>Location & Parking</h3>
        <p><b>We are located at 748 Brunswick Street</b>, New Farm between Annie St. and Browne St. on the opposite side to New Farm Cinemas.<p>
        <p>We recommend arriving with enough time to find a car park as at certain times it can be a little challenging. Unmetered street parking is available on our side of Brunswick St. (unlimited time), Annie St. (one side is 2 hour while the other is unlimited) and Browne St. (unlimited).</p>

        <h3>Your Arrival</h3>
        <p><b>Please arrive in the studio 5 minutes before your appointment time</b> so that you can fill out your new guest form. This allows us to use the entirety of your appointment time to perfect your brows and lashes and give you the best possible experience.</p>

        <h3>Do you need to prepare for your appointment?</h3>
        <h4>Brows</h4>
        <p>Let us know if you have had any facial treatments in the week before your brow appointment (peels etc. may mean we avoid wax and tweeze only). If you're having a spray tan afterward, make sure you use a barrier (such a vaseline or pawpaw ointment) on your freshly tinted brows as occasionally the tan formula can affect the colour.</p>

        <h4>Lash Services</h4>
        <p>We recommend avoiding waterproof mascara the day you are visiting us for any lash services. Please clean your lash extensions before you arrive as cleaning can cut into valuable lashing time.</p>

        <h4>Makeup</h4>
        <p>A flawless base is all about skin prep! We recommend gently exfoliating the day before your makeup appointment and arrive with fresh, cleansed skin. Not sure what you want? Not a problem! Feel free to bring along inspiration pictures (Pinterest is amazing), tell us what you do or don't like and we can guide you in a direction we know will suit you and your style.</p>
        <p><b>If possible, we recommend having your hair styled before makeup</b></p>

        <h3>Our Cancellation Policy</h3>
        <p>We please ask you to observe our strict 24 hour cancellation policy as our appointments are in high demand. This makes it fair not only on us but also other clients who are after appointments.</p>
        <p>Payment in full will be forfeited on any no show or when less than 24 hours notice is given and the appointment spot cannot be filled. <b>We will do everything that we can reasonably do to fill the appointment spot.</b> We sincerely appreciate your cooperation and understanding.</p>

        <h3>Appointment Confirmation</h3>
        <p>3 days ahead of your appointment you will receive a text to confirm. Please respond with 'YES' <b>only</b> or call us if you need to reschedule. <b>This is an automated system so we don't receive any other responses.</b></p>
        <p><b>If possible, we recommend having your hair styled before makeup</b></p>
        <p>If we cannot contact you for confirmation and don't hear back from you by the day, your appointment may be forfeited so PLEASE respond.</p>

        <p class="center">Hopefully this has answered any questions you might have however please feel free to call or text us at the studio on <a href="tel:+61417307772">0417 307 772<a>.</p>

        <h3 class="center">Thank you again for choosing us, we can&#39;t wait to see you at your appointment!</h3>
      </div>
    </section>

  {{/replace}}
{{/extend}}
